
@keyframes file-component-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes file-item-in {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


.input-file-container{
    transition: all ease 1s;
}

.file-list-selected-item{
    color: #333;
    transition: color ease .2s;
}

.file-list-selected-item:hover{
    color: rgb(8, 82, 173);
}

.file-list-selected-delete{
    opacity: 0;
    transition: opacity ease .2s;
}

.file-list-selected-delete:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.file-list-selected-item:hover .file-list-selected-delete{
    opacity: 1;
}

.file-input-menu-item{
    opacity: 0;
    animation: file-component-in 1s ease forwards;
    transition: all ease .4s;
}

.file-list-header{
    opacity: 0;
    animation: file-component-in 1s ease forwards;
    transition: all ease .4s;
}

.file-list-selected li{
    opacity: 0;
    transform: translateX(-10px);
    animation: file-item-in 1s ease forwards;
    transition: all ease .4s;
}

.file-list-selected li:nth-child(1){
    animation-delay: .2s;
}

.file-list-selected li:nth-child(2){
    animation-delay: .2s;
}

.file-list-selected li:nth-child(3){
    animation-delay: .3s;
}

.file-list-selected li:nth-child(4){
    animation-delay: .4s;
}

.file-list-selected li:nth-child(5){
    animation-delay: .5s;
}

.file-list-selected li{
    animation-delay: .6s;
}

.file-container-wrapper.empty:hover{
    background-color: rgba(0, 0, 0, .05) ;
}

.file-container-wrapper.empty:active{
    background-color: rgba(0, 0, 0, .1) ;
}

.file-container-wrapper:hover .file-container-drop-zone .icon{
    color: rgba(8, 82, 173, .7) ;
}

@keyframes over-drop-zone {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(4px);
    }
}

@keyframes over-drop-main-animation {
    from {
        border-color: rgba(0, 0, 0, .5);
    }
    to {
        border-color: rgba(150, 150, 150, .5);
    }
}

.file-container-drop-zone-over{
    animation: over-drop-main-animation .5s infinite ease alternate-reverse;
}

.file-container-drop-zone-over .icon-over{
    animation: over-drop-zone .4s infinite ease alternate-reverse;
}